<h1><center>Local Adventure Pals</center></h1>
<h2><center>The one stop shop for finding a local pal while traveling</center></h2>


<p>Ever been in another country, stuck in the typical tourist routine with no hope of finding where all the locals hang out? Been frustrated by crowds and lines and jacked up prices just because you are tagged 'a tourist'. Have you ever thought 'I wish I knew someone local that could show me all the fun hotspots and local hangouts so I could really appreciate where I am'? Look no longer. Local Adventure Pals can solve that problem by linking you up with ranked and certified local pal guides that will help you localize your journey</p>

<div class="row">
	<center>
  <div class="col-md-4">
 		<%= link_to image_tag("howbutton.png", :height => "80%", :width => "80%", :alt => "How it works"), how_path %>
  </div>
  
  <div class="col-md-4">
  		<%= link_to image_tag("becomebutton.png", :height => "80%", :width => "80%", :alt => "How to Become"), become_path %>
  </div>

  <div class="col-md-4">
  		<%= link_to image_tag("findbutton.png", :height => "80%", :width => "80%", :alt => "Find a Pal"), find_path %>
  </div>

 

 </center>
</div>






  <div class="row">
  <center>
    
    <div class='col-md-12'>
      <h2>Your next adventure starts NOW!</h2>
      <h5>Click on the country you want to travel</h5>
      <%= link_to image_tag("world.jpg", :style => "opacity:0.5", :height => "80%", :width => "80%", :alt => "Find your adventure"), find_path %>
    
    </div>
   </center>  
  </div>

